@import '../../../styles/variables.scss';

.mainContent {
    position: relative;

    .band {
        position: absolute;
        top: 0;
        right: 0;
        height: 100%;
        width: 100%;
        background-color: $color1;
        color: white;

        .number {
            position: absolute;
            font-size: 580px;
            font-weight: 600;
            top: -20px;
            right: -110px;
        }

        .number.dos {
            top: auto;
            bottom: -180px;
        }

        .number.tres {
            top: auto;
            bottom: -180px;
            right: auto;
            left: -60px;
        }

        .content {
            position: absolute;
            left: 80px;
            bottom: 60px;
            width: 450px;

            h3 {
                width: 380px;
                font-size: 90px;
                text-transform: uppercase;
                font-weight: 600;
                line-height: 72px;
                margin-bottom: 5px;
            }

            p {
                font-size: 24px;
            }
        }

        .content.dos {
            left: 100px;
            bottom: auto;
            top: 200px;
        }

        .content.tres {
            left: auto;
            right: 5px;
            bottom: auto;
            top: 150px;
        }
    }
}

@media (max-width: 1300px) {
    .mainContent {
        .band {
            width: $home-band-responsive1-width;

            .content.dos {
                left: 50px;
                bottom: auto;
                top: 100px;
            }
        }
    }
}

@media (max-width: 1080px) {
    .mainContent {
        .band {
            width: $home-band-responsive2-width;

            .content {
                left: $body-x-margin-responsive;
                bottom: auto;
                top: $body-y-margin-responsive;
                width: 450px;

                h3 {
                    width: 350px;
                    font-size: 80px;
                    text-transform: uppercase;
                    font-weight: 600;
                    line-height: 65px;
                    margin-bottom: 5px;
                }

                p {
                    font-size: 20px;
                }
            }

            .content.dos {
                left: $body-x-margin-responsive;
                bottom: auto;
                top: $body-y-margin-responsive;
            }

            .content.tres {
                right: $body-x-margin-responsive;
                bottom: auto;
                top: $body-y-margin-responsive;

                p {
                    width: 330px;
                }
            }
        }
    }
}

@media (max-width: 700px) {
    .mainContent {
        .band {
            .number {
                font-size: 520px;
                top: -100px;
                right: -90px;
            }

            .content.tres {
                right: -100px;
                bottom: auto;
                top: $body-y-margin-responsive;

                p {
                    width: 330px;
                }
            }
        }
    }
}

@media (max-width: 600px) {
    .mainContent {
        .band {
            .number {
                font-size: 300px;
                top: -50px;
                right: -55px;
            }

            .number.dos {
                font-size: 280px;
                bottom: auto;
                top: -50px;
                right: -55px;
            }

            .number.tres {
                font-size: 320px;
                bottom: -70px;
                left: auto;
                right: -50px;
            }

            .content {
                top: $body-y-margin-responsive;
                left: $body-x-margin-responsive;

                h3 {
                    width: 200px;
                    font-size: 60px;
                    line-height: 50px;
                    margin-bottom: 5px;
                }

                p {
                    width: 275px;
                    font-size: 17px;
                }
            }

            .content.dos {
                h3 {
                    width: 250px;
                }

                p {
                    width: 230px;
                }
            }

            .content.tres {
                right: auto;
                left: $body-x-margin-responsive;

                h3 {
                    width: 250px;
                }

                p {
                    width: 250px;
                }
            }
        }
    }
}

@media (max-height: 900px) and (max-width: 1300px) and (min-width: 1080px) {
    .mainContent {
        .band {
            .number.dos {
                font-size: 400px;
                bottom: -100px;
                right: -55px;
            }

            .number.tres {
                font-size: 500px;
                bottom: -200px;
            }
        }
    }
}

@media (max-height: 800px) and (max-width: 1080px) and (min-width: 600px) {
    .mainContent {
        .band {
            .number.tres {
                font-size: 500px;
            }
        }
    }
}