@import '../../../styles/variables.scss';
.mainContent{
    position: relative;
    .band{
        position: absolute;
        top: 0;
        right: 0;
        height: 100%;
        width: 100%;
        background-color: $color1;
        color: white;
        .text{
            position: absolute;
            display: flex;
            top: 210px;
            left: 10px;
            h2{
                font-size: 156px;
                text-transform: uppercase;
            }
            p{
                width: 625px;
                font-size: 48px;
                line-height: 50px;
                padding-top: 33px;
            }
        }
        .text.dos{
            top: auto;
            bottom: 115px;
            left: auto;
            right: 85px;
            p{
                width: 700px;
                font-size: 40px;
                line-height: 45px;
                padding-top: 33px;
            }
        }
        .text.tres{
            top: 150px;
            bottom: auto;
            left: 40px;
            right: auto;
            p{
                width: 760px;
                font-size: 42px;
                line-height: 40px;
                padding-top: 33px;
            }
        }
    }
    .image{
        position: absolute;
        bottom: 90px;
        left: -225px;
        height: 420px;
        width: 420px;
    }
    .image.dos{
        bottom: -15px;
        left: -450px;
        height: auto;
        width: 600px;
    }
    .image.tres{
        bottom: -25px;
        left: auto;
        right: 0;
        height: auto;
        width: 100vw;
    }
}
@media (max-width: 1919px) {
    .mainContent{
        .band{  
            .text{
                p{
                    width: 400px;
                    font-size: 32px;
                    line-height: 30px;
                    padding-top: 33px;
                }
            }
        }
    }
}
@media (max-width: 1480px) {
    .mainContent{
        .band{
            .text{
                top: 196px;
                h2{
                    font-size: 120px;
                }
                p{
                    width: 400px;
                    font-size: 32px;
                    line-height: 30px;
                    padding-top: 33px;
                }
            }
            .text.dos{
                top: auto;
                bottom: 115px;
                left: 50px;
                right: auto;
                p{
                    width: 500px;
                    font-size: 30px;
                    line-height: 35px;
                    padding-top: 0px;
                }
            }
            .text.tres{
                p{
                    width: 500px;
                    font-size: 34px;
                    line-height: 36px;
                    padding-top: 0px;
                }
            }
        }
    }
}
@media (max-width: 1200px) {
    .mainContent{
        .band{
            .text{
                top: 196px;
                flex-direction: column;
                h2{
                    font-size: 120px;
                }
                p{
                    width: 290px;
                    font-size: 18px;
                    line-height: 25px;
                    padding-top: 0px;
                    margin-top: -15px;
                    margin-left: 70px;
                }
            }
            .text.dos{
                top: auto;
                bottom: 170px;
                left: -40px;
                right: auto;
                p{
                    width: 350px;
                    font-size: 25px;
                    line-height: 28px;
                }
            }
            .text.tres{
                top: 160px;
                bottom: auto;
                left: -45px;
                right: auto;
                p{
                    width: 350px;
                    font-size: 30px;
                    line-height: 30px;
                }
            }
        }
    }
}
@media (max-width: 850px) {
    .mainContent{
        .band{
            .text{
                top: 184px;
                left: 5px;
                h2{
                    font-size: 70px;
                }
                p{
                    width: 200px;
                    font-size: 16px;
                    line-height: 20px;
                }
            }
            .text.dos{
                top: auto;
                bottom: 170px;
                left: -55px;
                right: auto;
                p{
                    width: 250px;
                    font-size: 20px;
                    line-height: 22px;
                }
            }
            .text.tres{
                top: 190px;
                p{
                    width: 260px;
                    font-size: 25px;
                    line-height: 25px;
                }
            }
        }
        .image.tres{
            width: 1500px;
            right: -350px;
        }
    }
}
@media (max-width: 600px) {
    .mainContent{
        .band{
            .text{
                top: 175px;
                h2{
                    font-size: 45px;
                }
                p{
                    width: 140px;
                    font-size: 14px;
                    line-height: 16px;
                    margin-top: -5px;
                    margin-left: 5px;
                }
            }
            .text.dos{
                top: 170px;
                bottom: auto;
                left: 5px;
                right: auto;
                p{
                    width: 150px;
                    font-size: 14px;
                    line-height: 20px;
                }
            }
            .text.tres{
                top: 190px;
                left: 5px;
                p{
                    width: 150px;
                    font-size: 16px;
                    line-height: 20px;
                }
            }
        }
        .image{
            bottom: 50px;
            left: -215px;
            height: 300px;
            width: 300px;
        }
        .image.dos{
            bottom: 40px;
            left: -264px;
            height: 270px;
            width: 390px;
        }
        .image.tres{
            width: 1380px;
            right: -680px;
        }
    }
}

