@import '../../../styles/variables.scss';
.mainContent{
    position: relative;
    .band{
        position: absolute;
        top: 0;
        right: 0;
        height: 100%;
        width: 100%;
        background-color: $color1;
        color: white;
        .text{
            position: absolute;
            display: flex;
            top: 210px;
            left: 10px;
            h2{
                font-size: 156px;
                text-transform: uppercase;
            }
            p{
                width: 625px;
                font-size: 48px;
                line-height: 50px;
                padding-top: 33px;
            }
        }
    }
    .image{
        position: absolute;
        bottom: 90px;
        left: -225px;
        height: 420px;
        width: 420px;
    }
}
@media (max-width: 1919px) {
    .mainContent{
        .band{
            .text{
                p{
                    width: 400px;
                    font-size: 32px;
                    line-height: 30px;
                    padding-top: 33px;
                }
            }
        }
    }
}
@media (max-width: 1480px) {
    .mainContent{
        .band{
            .text{
                top: 196px;
                h2{
                    font-size: 120px;
                }
                p{
                    width: 400px;
                    font-size: 32px;
                    line-height: 30px;
                    padding-top: 33px;
                }
            }
        }
    }
}
@media (max-width: 1200px) {
    .mainContent{
        .band{
            .text{
                top: 196px;
                flex-direction: column;
                h2{
                    font-size: 120px;
                }
                p{
                    width: 290px;
                    font-size: 18px;
                    line-height: 25px;
                    padding-top: 0px;
                    margin-top: -15px;
                    margin-left: 70px;
                }
            }
        }
    }
}
@media (max-width: 850px) {
    .mainContent{
        .band{
            .text{
                top: 184px;
                left: 5px;
                h2{
                    font-size: 70px;
                }
                p{
                    width: 200px;
                    font-size: 16px;
                    line-height: 20px;
                }
            }
        }
    }
}
@media (max-width: 600px) {
    .mainContent{
        .band{
            .text{
                top: 175px;
                h2{
                    font-size: 45px;
                }
                p{
                    width: 140px;
                    font-size: 14px;
                    line-height: 16px;
                    margin-top: -5px;
                    margin-left: 5px;
                }
            }
        }
        .image{
            bottom: 50px;
            left: -160px;
            height: 220px;
            width: 220px;
        }
    }
}

