// COLORS
$color1: #38bbca;
$color2: #da5948;
$blanco: white;
$negro: #1b1a18;

// MARGINS
$body-x-margin: 80px;
$body-y-margin: 70px;

$body-x-margin-responsive: 15px;
$body-y-margin-responsive: 15px;

// SIZES
$home-band-width: 800px;
$home-band-responsive1-width: 600px;
$home-band-responsive2-width: 100%;