// COLORS
$color1: #3ed5e6;
$color2: #da5948;
$color3: #ccf4f8;
$blanco: #ffff;
$negro: #1b1a18;

// MARGINS
$body-x-margin: 80px;
$body-y-margin: 70px;
$body-x-margin-responsive: 15px;
$body-y-margin-responsive: 15px;

$about-x-margin: 80px;
$about-y-margin: 70px;
$about-x-margin-responsive: 15px;
$about-y-margin-responsive: 15px;

// SIZES
$home-band-width: 800px;
$home-band-responsive1-width: 600px;
$home-band-responsive2-width: 100%;

$about-band-width: 1285px;
$about-band-responsive1-width: 900px;
$about-band-responsive2-width: 750px;
$about-band-responsive3-width: 400px;
$about-band-responsive4-width: 300px;
$about-band-responsive5-width: 175px;